
<form action="/login" method="POST"class="login-form">
    <div class="main-container">
    <input type="text" name="username" placeholder="Enter a Username">
    <input type="password" name="password" placeholder="Enter a Password">
    <button type="submit" class="btn-pink">Login</button>
        </div>
</form>
