<div class="landing-hero">
    <div class="main-container">
    <h1>Food Log Diary.</h1>
    <h2>Please select log in or sign up</h2>
    <a href="/login">
        <button class="btn-pink">Login</button>
    </a>
    <a href="/signup">
        <button class="btn-pink">Sign up</button>
    </a>
    </div>
</div>
