img {
    width: 200px;
    height: auto;
  }

 /* for nav bar*/
body {
    font: bold 15px/1.5em Verdana;
    
 
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 25px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
}

#tabs {
    float: left;
    width: 100%;
    background: #FCF1F6;
    font-size: 93%;
    line-height: normal;
    border-bottom: 1px solid #E276A7;
}

#tabs ul {
    margin: 0;
    padding: 10px 10px 0 50px;
    list-style: none;
}

#tabs li {
    display: inline;
    margin: 0;
    padding: 0;
}

#tabs a {
    float: left;
    background: url("tableft.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}

#tabs a span {
    float: left;
    display: block;
    background: url("tabright.gif") no-repeat right top;
    padding: 5px 15px 4px 6px;
    color: #333;
}

#tabs a:hover span {
    color: #591333;
}

#tabs a:hover {
    background-position: 0% -42px;
}

#tabs a:hover span {
    background-position: 100% -42px;
}

.main-container{
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px; 
    border-radius: 10px;
}

.signup-form,
.landing-hero,
.login-form {
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px; 
    text-align: center;
    padding: 100px;
    background-image: url("../20294906.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: rgba(255, 255, 255, 0.7)
}

.landing-hero h1 {
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    
}

.btn-pink {
    font: bold 15px/1.5em Verdana;
    background-color: #E276A7;
    color: #251a1a;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 15px; 
}

.btn-pink:hover {
    background-color: #ebc6d7;
}

.landing-hero a .btn-pink {
    margin-top: 15px; 
}

.pictures {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: flex;
        margin: 10px; /* Add spacing between images */
        border: 2px solid #ccc; /* Add a 2px solid border with a gray color */
        border-radius: 4px; 
    }

    .top-row, .bottom-row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .top-row {
        margin-bottom: 20px;
    }

.pink-link {
    color: #E276A7;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 10px;
}

.pink-link:hover {
    color: #ebc6d7;
}

.create-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 999; 

}

.meal-image {
    width: 300px; 
    height: 250px; 
    object-fit: cover; 

}

h2 {
    font-size: 15px;
    margin: 10px 0;
}

.details {
    width: 300px;
    object-fit: cover; 
    
}

.edit-form,
.new-form {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    justify-content: center;

}

.form-list {
    list-style: none;
    padding: 0;
}

.form-list li {
    margin-bottom: 20px;
}

.form-list label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-list input[type="text"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.details-container
 {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    justify-content: center;
    

}
.details-article {
    width: 80%;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    justify-content: center;
}

.details h3 {
    margin-top: 20px;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details ul li {
    margin-bottom: 5px;
}
.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.background{
    background-image: url("../World_Food_Day_Wallpaper_Background.jpeg"); 
    background-size: cover;
    background-repeat: repeat; 
}