
    <body>
   
            <main>
                <div class= "pictures" >
                    <a href="/meal/new"><button class="btn-pink create-button">Create New Meal</button></a>
                    <% for (meal of meals) { %>
                        <article>
                            <a href="/meal/<%= meal._id %>" class="pink-link">
                                <% if (meal.image) { %>
                                    <img src="<%= meal.image %>" alt="Meal Image">
                                <% } else { %>
                                    <p>No image available</p>
                                <% } %>
                        
                                <h2>
                                <%= meal.caption %> 
                                
                                </h2>
                           
                            </a>
                        </article>
                        <% } %>
                </div>

            </main>
    </body>