<h1>New Meals</h1>
<main>
    <div>
        <form action="/meal" method="post">
            <fieldset>
                <legend>Create Meal</legend>
                <label>
                   Caption:<input type="text" name="caption" placeholder="enter caption" />
                </label>
                <label>
                    Date:<input type="text" name="date" placeholder="enter date" />
                </label>
                <label>
                    Image:<input type="text" name="image"
                        placeholder="enter picture" />
                </label>
                <legend>Nutrition Values</legend>
                <label>
                    Calories:<input type="text" name="calories"
                        placeholder="enter calories" />
                </label>

                <label>
                    
                    Protein:<input type="text" name="protein"
                        placeholder="enter protein" />
                </label>
            
                <label>
                    Carbs:<input type="text" name="carbs"
                        placeholder="enter carbs" />
                </label>
                <label>
                    Fats:<input type="text" name="fats"
                        placeholder="enter fats" />
                </label>
            
            </fieldset>
            <input type="submit" value="submit" class="btn-pink" />
        </form>
    </div>
</main>
