<h1>New Meals</h1>
<main>
    <div>
        <form action="/meal" method="post">
            <fieldset>
                <legend>Create Meal</legend>
                <label>
                   Caption:<input type="text" name="name" placeholder="enter caption" />
                </label>
                <label>
                    Date:<input type="text" name="date" placeholder="enter date" />
                </label>
                <label>
                    Image:<input type="text" name="img"
                        placeholder="enter picture" />
                </label>
            
            </fieldset>
            <input type="submit" value="create meal" />
        </form>
    </div>
</main>
